@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-y: hidden;
}

[type='text'], [type='email'], [type='password'] {
    border: none;

    &:focus {
        padding: 0;
        border: none;
        box-shadow: none;
    }
}

.hidden-radio, .hidden-radio-2 {

    label {
        > span {
            visibility: hidden;
            display: none;
        }

        > div {
            margin: 0;
        }
    }

    .chip-custom {
        width: 1.375rem;
        height: 1.375rem;

        > span {
            padding: 0;
            width: 1.375rem;
            height: 1.375rem;
        }
    }
}

.hidden-radio-2 {
    div, span {
        padding: 0;
    }
}

@media print {
    nav, aside, button, .toolbar, .go-to-notes-btn, .change-status-container {
        display: none !important;
    }

    .listing, .documentation-container {
        height: auto !important;
        overflow: visible !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        color-adjust: exact;
    }

    .listing li {
        background-color: #FFDF70 !important;
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}
